ul.list,
.top-list {
  list-style-type: none;
}

ul.list {
  margin-top: 0;
}

ul.top-list {
  margin-bottom: 0;
}

li.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

li.new-row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: baseline;
}

.task-name {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: baseline;
}

li.top-item,
li.task,
.new-row {
  border-bottom: 1px solid lightgrey;
}

li.completed {
  text-decoration: line-through;
  color: lightgrey;
}

h4.task-desc,
.list-header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
}

h4.task-desc {
  margin-left: 5px;
}

form.new-task {
  width: 100%;
}

form.edit-task {
  display: flex;
  align-items: center;
}

input.new-task,
.edit-task {
  width: 100%;
  border: none;
  font-size: 16px;
  padding: 10px 0 10px 0;
}

input.new-task {
  font-style: italic;
}

input.new-task:focus,
input.edit-task:focus {
  outline: none;
  background-color: none;
}

button.submit-btn {
  display: none;
}
